@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.advantages__title {
  margin: 0;
  padding: 0;
  font-family: $font-ptsans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-basic-black;
  text-transform: uppercase;
}

.advantages__title--secondary {
  color: $color-basic-white;
}

.advantages__description {
  margin: 0;
  padding: 0;
  font-family: $font-ptsans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-special-black;
  text-transform: uppercase;
}

.advantages__description--secondary{
  color: $color-basic-white;
}
