@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.checkbox__subtitle {
  margin: 0;
  padding: 0;
  font-family: $font-ptsans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-basic-black;
  text-transform: uppercase;
}

.checkbox__label {
  font-family: $font-ptsans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-basic-black;
}

.checkbox__mark {
  background-color: $color-bg-form;
}
