@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.comment__fieldset {
  margin: 0;
  padding: 32px 0 0;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 42px 0 0;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 0 0;
  }
}

.comment__title-line::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 54px;
    left: 525px;
    height: 1px;
    width: 123px;
    background-color: #dbdbdb;
    content: "";
  }

  @media (min-width: $desktop-width) {
    top: 70px;
    left: 680px;
    width: 280px;
  }
}

.comment__title-line::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 54px;
    left: 0px;
    height: 1px;
    width: 123px;
    background-color: #dbdbdb;
    content: "";
  }

  @media (min-width: $desktop-width) {
    top: 70px;
    width: 280px;
  }
}

.comment__subtitle {
  margin: 0;
  padding: 0 0 20px;
  font-family: $font-ptsans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-basic-black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 0 28px;
    font-size: 21px;
  }
}

.comment__group {
  margin: 0 0 49px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 42px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 96px;
  }
}


.comment__field {
  margin: 0;
  padding: 16px;
  width: 100%;
  height: 150px;
  font-family: $font-ptsans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-basic-black;
  background-color: $color-bg-form;
  border: none;
  opacity: 0.6;

  @media (min-width: $tablet-width) {
    height: 160px;
  }
}
