@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.comment__subtitle {
  margin: 0;
  padding: 0;
  font-family: $font-ptsans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-basic-black;
  text-transform: uppercase;
}

.comment__field {
  width: 279px;
  height: 150px;
  font-family: $font-ptsans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-basic-black;
  background-color: $color-bg-form;
}
