@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.error {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.error__modal {
  width: 100%;
  background-color: $color-basic-white;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 305px;
  padding: 45px 42px 35px;

  @media (min-width: $tablet-width) {
    width: 400px;
    height: 347px;
  }
}

.error__title {
  margin: 0 0 26px;
  padding: 0;
  color: $color-basic-black;
  text-align: center;
  font-family: $font-ptsans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.error__description {
  margin: 0 0 50px;
  padding: 0;
  color: $color-special-black;
  text-align: center;
  font-family: $font-ptsans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.error__button {
  width: 180px;
  height: 58px;
  margin: 0 auto;
  padding: 18px 64px;

  @media (min-width: $tablet-width) {
    width: 272px;
    height: 58px;
    padding: 18px 107px;
  }
}
