@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.form {
  @media (min-width: $tablet-width) {
    padding-bottom: 64px;
  }
}

.form__wrapper-heading {
  padding: 36px 0 28px;
  border-bottom: 1px solid $color-border-gray;

  @media (min-width: $tablet-width) {
    padding: 64px 0 102px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 115px 0 67px;
  }
}

.form__title {
  margin: 0;
  padding: 0 0 26px;
  font-family: $font-ptsans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-basic-black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 0 33px;
  }
}

.form__description {
  margin: 0;
  padding: 0;
  font-family: $font-ptsans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-special-black;
  text-transform: uppercase;
  text-align: center;
}

.form__wrapper-user-contacts {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__wrapper-button {
  padding: 0 0 14px;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0 96px;
  }
}

.form__button {
  margin: 0;
  padding: 16px 49px;
  font-family: $font-ptsans;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $color-basic-white;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 16px 71px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 101px;
  }
}

.form__meta {
  margin: 0;
  padding: 3px 0 0;
  color: $color-special-black;
  opacity: 0.6;
  text-transform: uppercase;
  text-align: end;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
