@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.hero {
  margin: 0 auto;
  min-width: 320px;
  min-height: 389px;
  background-color: $color-bg-basic-blue;
  background-image: url("../img/hero/hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  background-image: url("../source/img/hero/divider-mobile.svg");
  min-height: 57px;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 389px;
}

.hero__image {
  display: block;
}
