@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.hero {
  margin: 0 auto;
  min-width: 320px;
  min-height: 389px;
  background-color: $color-bg-basic-blue;
  background-image: url("../img/hero/hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    max-width: 1199px;
    min-height: 518px;
    background-image: url("../img/hero/hero-desktop.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    min-height: 518px;
  }
}

.hero::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/hero/divider-mobile.svg");
  width: 100%;
  height: 57px;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background-image: url("../img/hero/divider-tablet.svg");
    width: 100%;
    height: 57px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/hero/divider-desktop.svg");
    width: 100%;
    height: 57px;
  }
}

.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 389px;

  @media (min-width: $tablet-width) {
    height: 504px;
  }
}

.hero__image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
    height: 350px;
  }
}
