@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.html-academy__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.html-academy__description {
  margin-right: 12px;
  font-family: $font-ptsans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-basic-black;
  text-transform: uppercase;
}

.html-academy__icon {
  @media (min-width: $tablet-width) {
    margin-right: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}
