@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.main-navigation {
  position: absolute;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  font-size: 18px;

  &--closed {
    display: none;

    @media (min-width: $tablet-width) {
      position: static;
      display: flex;
      flex-direction: row;
    }
  }
}

.main-navigation--closed.main-navigation--nojs {
  position: static;
  order: -1;

  display: block;
}
