@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.main-header {
  background-color: $color-bg-basic-white;
}


.main-header__main-nav {
  background-color: $color-bg-basic-blue;

  @media (min-width: $tablet-width) {
    background-color: $color-bg-basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-bg-basic-white;
  }
}
