@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.social__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.social__item {
  margin: 3px 6px 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:last-child {
    margin-right: 0;
  }

  &:active {
    background-color: $color-button-blue-active;
  }
}

.social__link {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-bg-basic-blue;
  cursor: pointer;

  &:hover {
    background-color: $color-basic-blue-hover;
    cursor: pointer;
  }

  &:active {
    background-color: $color-button-blue-active;
    opacity: 0.3;
  }
}
