@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.username__fieldset {
  margin: 0;
  padding: 24px 0 23px;
  border: none;
  border-bottom: 1px solid $color-border-gray;

  @media (min-width: $tablet-width) {
    padding: 0 44px 0 0;

    border: none;
    border-right: 1px solid $color-border-gray;
  }

  @media (min-width: $desktop-width) {
    padding: 0 63px 0 0;
  }
}

.username__subtitle {
  margin: 0;
  padding: 0 0 20px;
  font-family: $font-ptsans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-basic-black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 0 28px;
    font-size: 21px;
  }
}

.username__group {
  margin: 0 0 16px;
  padding: 0;
}

.username__text {
  margin: 0;
  padding: 0 0 0 16px;
  font-family: $font-ptsans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-special-black;
  text-transform: uppercase;
}

.username__field {
  margin: 0;
  padding: 16px 16px;
  min-width: 100%;
  font-family: $font-ptsans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-basic-black;
  background-color: $color-bg-form;
  border: none;

  &::placeholder {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: $color-basic-black;
    opacity: 0.3;
  }

  &:hover {
    outline: 4px solid $color-bg-form-hover;
    background-color: $color-bg-form-hover;
  }

  &:focus {
    outline: 4px solid $color-bg-body;
    background-color: $color-bg-body;
  }

  &:active {
    outline: 4px solid $color-bg-form-hover;
    background-color: $color-bg-basic-white;
  }
}
