@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.video__title {
  margin: 0;
  padding: 17px 0 26px;
  font-family: $font-ptsans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-basic-black;
  text-transform: uppercase;
  text-align: center;


  @media (min-width: $tablet-width) {
    padding: 57px 0 34px;
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 61px;
  }
}

.video__description {
  margin: 0;
  padding: 0 6px;
  font-family: $font-ptsans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-special-black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 23px;
  }
}

.video__wrapper {
  display: flex;
  flex-direction: column;
}

.video__items{
  padding: 40px 0 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 84px;
  }
}

.video__items-container {
  max-width: 800px;
  margin: 0 auto;
}

.video__items-body {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.video__item-video {
  position: relative;
  padding: 0 0 56% 0;
}

.video__item-video video,
.video__item-video iframe{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
