@use "global/variables.scss" as *;

body {
  min-width: 320px;
  margin: 0 auto;
  min-height: 100%;
  font-family: $font-ptsans;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-basic-black;
  background-color: $color-bg-form;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: $color-basic-white;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.20);
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 0;
  }

  &--form {
    @media (min-width: $desktop-width) {
      padding: 0 120px;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  margin: 0;
}

.picture {
  line-height: 0;
}

.br-none-for-mobile {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.br-none-for-tablet {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.br-none-for-desktop {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
