@use "global/variables.scss" as *;

body {
  min-width: 320px;
  margin: 0 auto;
  min-height: 100%;
  font-family: $font-ptsans;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-basic-black;
  background-color: $color-bg-body;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: $color-basic-white;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
}

.container {
  margin: 0 auto;
  padding: 0 18px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
