/*text*/

$color-basic-white: #ffffff;
$color-basic-black: #000000;
$color-special-black: #333333;
$color-special-description: rgba(51, 51, 51, 0.6);
$color-special-hover: #81b3d2;
$color-special-current: #766357;
$color-special-disabled: #b3b3b3;
$color-border-gray: #d5d5d5;

/*bg*/

$color-bg-basic-white: #ffffff;
$color-bg-basic-blue: #81b3d2;
$color-bg-gray: #eeeeee;
$color-bg-form:#f2f2f2;
$color-bg-form-hover: #e5e5e5;
$color-bg-form-active: #d5d5d5;
$color-bg-decoration: #e6e6e6;
$color-bg-body: #e7e5e5;

/*button & decoration*/

$color-basic-blue: #81b3d2;
$color-basic-blue-hover: #669ec0;
$color-button-blue-active: #5496bd;
$color-button-blue-disabled: #e5e5e5;

/*viewports*/

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$no-desktop-width: 1199px;

/*fonts*/

$font-ptsans: "PT Sans", "Arial", sans-serif;
$font-roboto: "Roboto", "Arial", sans-serif;
